@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

* {
	/*font-family: "poppins", sans-serif;*/
	--theme-color: #0099ff;
	--font-color:  #5a5a5a;
}

body {
	background-image: linear-gradient(#0099ff, #00e6ff);
}


.navbar-brand {
	font-size: 1.4em;
}

/* Button Toggler Color */
.custom-toggler.navbar-toggler {
    border-color: #fff;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar {
	padding: .2rem;
	padding-left: .6em; 
}

.navbar-nav li {
	padding-right: 20px ;
}

.navbar-nav li {
	/*padding-right: 20px;*/
}

.nav-link {
	font-size: 1.1em !important;
	font-family: 'open sans';
}

.viva-header {
	font-size: .7em;
	vertical-align: baseline;
}

.image-header {
	margin: .1em;
	filter: invert(99%) sepia(1%) saturate(2058%) hue-rotate(338deg) brightness(114%) contrast(100%);
	width: 30px;
	height: 30px;
}

.padding-header {
	padding-bottom: .3em;
}

.image-woman {
	margin-bottom: 3em;
}


.nav-link{
	color: white !important;
}


.nav-item {
	color: white;
	/* font-size: 1.1em; */
	font-weight: 300;
}



.navbar {
	background-color: var(--theme-color) !important;
	color: white;
}

.navbar-light .navbar-toggler {
	border-color: #0099ff;
}


/*Main*/


.secondary-image {
	margin: 0; 
	padding: 0; 
	position: relative;
	z-index: 1;
}

.decoration {
	color: var(--font-color) !important;
	
}

.decoration:hover {
	  text-decoration: none;
	}
	
.main-color {
	background-color: white;
}

h2 {
	font-size: 1.5rem;
}



.background {
	background-color: var(--theme-color) !important;                    
}


.padding-all {
	padding: 1em;
}

h1 {
	font-size: 2.4em;
	margin: 1em;
	margin-bottom: 1.5em;
	font-family: 'open sans';
		font-weight: 600;
	color: var(--font-color) !important;
}

.bolder-text {
	font-weight: 500;
}


h4 {
	font-size: 1.44em;
	font-family: "montserrat";
}

.para {
	font-size: 1.1em;
	position: absolute;
	/* padding-right: 2.5em; */
	top: 20%;
	left: 15%;
	transform: translate(-10%, -10%);
	font-family: 'open sans';
	/* line-height: 1.9; */
}

.paragraph-desktop {
	font-size: 1.4em;
	vertical-align: middle;
	font-family: 'open sans';
	margin-left:  1em;
	/* padding- 2em; */
}


.desktop-jumbo {
	background-color: #f2f2f2 !important;
}


.keep {
	display: flex;
}

.keep-2 {
	display: flex;
	flex-wrap: wrap;
	padding-top: 4em;
	padding-bottom: 4em;
	z-index: 10;

}


.item {
	align-self: center;
}

.item-2 {
	padding: .6em;
	padding-left: 1.7em;
	padding-right: 1.7em;
	font-size: 1.3em;
	border-radius: 30px;
	align-self: center;
	margin-left: 1em;
}


align-title {
	vertical-align: middle;
}

.image-background {
	opacity:  .2;
	position: relative;
	left: 48%;
}

.image-background-2 {
	height: 358px;
	padding: .8em 0em 0em;
}


.image-happy {
	/* position: relative; */
	overflow: hidden;
}

.background-color-white {
	background-color:#fcfcfc;
	padding-bottom: 1em;
}

.background-color-white-2 {
	background-color:#f2f2f2;
}


.card {
	padding: 0px !important;
}

.card-desktop-comece {
	border-radius: 20px;
	color: var(--font-color);
	font-family: 'open sans';
	padding: 1em !important;
}

.card-title-desktop {
	font-size: 2em;
	font-weight: 600;

}

.card-text-desktop {
	font-size: 1.3em !important;
}

.margin-left {
	margin-left: .7%;
}



.cursos {
	margin-top: .5em;
	font-size: 2.5em;
	font-family: 'open sans';
	font-weight: 600;
}


.secondary-image-item {
	bottom: 0;
	 position: absolute;
}

.card-text {
	font-size: 1em;
}

.card-border {
	padding: 1em;
	max-height: 200px;
}

.cursos-margin {
	margin-bottom: .8em;
}

.border-card {
	border-radius: 20px;	
	box-shadow: 0px 3px 20px #333;
}

.card-image {
	max-height: 300px;
	padding: 1.5em;
}

.letter-title {
	color: var(--font-color);
	font-size: 1.8em;

}

.letter-text {
	/* color: var(--font-color); */
	line-height: 1.6;
}


.card-border-text {
	padding: .5em;
}

.card-style {
	box-shadow: 0px 3px 20px #686868;
	border-radius: 20px;
}


.comece-body {
	font-size: 1.2em;
	padding-bottom: 1em;
}

.image-svg-body {
	height: 500px;
	position: relative;
	right: 14%;
}



.main-content {
	width: 90%;
	margin: 0 auto;

}



.box1 {
	position: relative;
}


.inside-box {
	position: absolute;
	top: 50%;
	left: 40%;
	transform: translate(-50%, -50%);
	text-shadow: 1px 1px 10px #000;
	font-size: 500%;
	font-family: poppins;
}

.btn-primary1 {
	background-color: white !important;
	border-color: var(--theme-color);
	color: var(--theme-color);
	font-weight: bold;
	border-radius: 25px;
}

.btn-primary {
	border-color: var(--theme-color);
	color: white;
}

.btn-primary:hover {
	background-color: transparent !important;
	border-color: #25c8e7;
	color: #25c8e7;
}


.btn-outline-light {
	background-color: transparent !important;
	border-color: #e75c25;
	color: #e75c25;
}


.btn-outline-light:hover {
	background-color: #e75c25 !important;
	border-color: #e75c25;
	color: white;
}





.jumbotron {
	padding: 1em;
	border-radius: 0;
	margin-bottom: 0;
}

.padding {
	padding-bottom: 2rem;
}

.padding-top {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}


hr {
	background-color: #ccc;
}

.black {
	background-color: black;
}

.contacts {
	margin-left: 9%;
}


/*      Contact            */


.footer-banner {
	background-image: url('../images/footer-shape.svg');
	background-size: cover;

}

.comece-position {
	position: relative;
	bottom: 50px;
}




/*Footer*/

footer {
	/* color: var(--font-color) !important; */
	background-image: url('../images/footer-shape.svg');
	
	background-repeat: no-repeat;
	padding-top: 2rem;
	padding: 1.5em;

}

.footer-desktop {
	margin-top: 3.5em;
	
}


.svg-color-2 {
	filter: invert(45%) sepia(98%) saturate(3069%) hue-rotate(183deg) brightness(104%) contrast(103%);
}

.padding-cursos {
	padding-bottom	: 1em;
}

.font-color {
	color: var(--font-color) !important;
}

.text-position {
	margin-left: 28%;
	font-family: roboto;
}

.font-footer {
	font-size: 1.2em;
}


.padding-viva {
	margin-top: 1em;
	margin-bottom: .8em;
}

.viva-footer {
	font-size: .8em;
}

.light {
	border-top: 1px solid #d9d9d9;
	width: 90%;
	margin-top: .8rem;
	margin-bottom: 1rem;
}

.line {
	vertical-align: middle;
}

.fa-whatsapp {
	/* color: #25d366; */
	color: var(--theme-color);
	font-size: 2.3em;
	margin-right: .3em;
	margin-top: .2em;
}

.fa-at {
	color: #ea4335;
	font-size: 2em;
	color: var(--theme-color);
	margin-right: .3em;
}




.fa-facebook {
	color: var(--theme-color);
	/* color: #3c5a99; */
	font-size: 2em;
	margin-right: .3em;
	margin-top: .2em;
}

.fa-instagram {
	color: var(--theme-color);
	/* color: #8a3ab9; */
	font-size: 2em;
	margin-right: .3em;
	margin-top: .2em;

}



.icons {
	font-size: 4em;
}

.agende {
	margin: 1em;
}

h5 {
	/* font-weight: ;S */
}

/* Media Queries */

@media (min-width: 480px) {
	.secondary-image {
		max-width: 50% !important;
	}
}


@media (min-width: 620px) {
	.secondary-image {
		max-width: 35% !important;
	}
}


@media (min-width: 992px) {

	footer {
		margin-top: 3em;
	}

	
	h1 {
		text-align: left;
		font-size: 5em;
	}

	
	.image-woman {
		padding-top: 3em;
	}


	.viva-header {
		font-size: 1.1em;
		font-weight: 300;
		vertical-align: middle;
		padding-top: 2px;
	}

	.padding-header {
		padding-bottom: 0px;
	}

	.image-header {
		width: 42px;
		height: 42px;
	}

	.sumir-min {
		display: none;
	}

	.image-happy {
		overflow:  visible;
	}

	.text-position {
		margin-left: 40%;
		padding-top: 2em;
	}

	.contacts {
		
	}

	.at {
		margin-right: 0px;
	}

}


@media (max-width: 992px) {

	.sumir {
		display: none;
	}



	.secondary-image {
		max-width: 80%;
		z-index: 1;
		opacity: 0.3;

	}


	.paragraph-desktop {
		font-size: 1em;
		margin-left: 0px;
	}

	.item-2 {
			padding: .6em;
			padding-left: 1em;
			padding-right: 1em;
			font-size: 1em;
			border-radius: 30px;
			align-self: center;
			margin-left: 1em;
	}

	.keep-2 {
		z-index: 10;
		justify-content: center;
		
		
		
	}



}


/*
*
*
* CONTATOS
*
*
*/

form {
	margin-bottom: 2em;
}






















}












