
main {
	width: 90%;
	margin: 0 auto;

}

h2 {
	font-size: 2.5em;
	border-bottom: 2px solid #ccc;
	color: #333;
	margin-top: .5em;
	/*padding-top: 1em;*/
	/*padding-bottom: .2em;*/
}

.cursos {
	background-color: #41D0FC;
}


.aulas {
	margin-top: 2em;
	margin-bottom: 2em;
}

.card, .card-header {
	border-color: #25c8e7;
}

@media (max-width: 992px) {

	.sumir {
		display: none;
	}
}